{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "common/template.njk" %}

{% block backLink %}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
          {{  govukPanel({
                  titleText: title,
                  html: successMessage
              })
          }}

          <p class="govuk-body">{{ line1 }}</p>
          <p class="govuk-body">{{ line2 }}</p>
          <p class="govuk-body">{{ line3 }}</p>
          {{  govukNotificationBanner({
                titleText: feedback,
                html: feedbackBody
              })
          }}
          {% block form %}
              {% include "common/form/form.njk"%}
          {% endblock %}
        </div>
    </div>
{% endblock %}
