{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "common/fileupload/macro.njk" import fileUpload %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "common/template.njk" %}

{% block page_content %}

{% if fileErrors.length > 0 %}
{{ govukErrorSummary({
  titleText: errorSummaryHeading,
  errorList: fileErrors
}) }}

{%endif%}

<h1 class="govuk-heading-l govuk-!-margin-top-7">{{title}}</h1>
 <form action="{{postURL}}/upload-documents" method="post" enctype="multipart/form-data">
<div class="{% if textAreaErrorMsg %}govuk-form-group--error {%endif%}">
  {%if textAreaErrorMsg %}
  <p id="document-detail-error" class="govuk-error-message">
      <span class="govuk-visually-hidden"></span> {{textAreaErrorMsg}}
    </p>
  {%endif%}
{{ govukTextarea({
  name: "documentDetail",
  id: "documentDetail",
  value: documentDetail,
  hint: {
    text: paragraph1,
    classes: "govuk-hint",
    isPageHeading: false
  }
}) }}
</div>
<h2 class="govuk-heading-m">{{additionalDocumentsHeading}}</h2>

<p class="govuk-body">{{paragraph2}}</p>
<p class="govuk-body">{{paragraph3}}</p>
<p class="govuk-body">{{uploadedDocumentsSubTitle}}</p>
<div class="govuk-body">
  <ul class="‘govuk-list govuk-list--bullet’">
    {% for item in uploadDocumentsBullets %}
      <li>{{item | safe}}</li>
    {% endfor %}
  </ul>
</div>
<p class="govuk-body">{{caseRelevancySubTitle}}</p>


{% set fileRequirements = ""%}
{% for item in uploadHelpBullets %}
    {% set fileRequirements = fileRequirements + "<li>" + item + "</li>"%}
{% endfor %}
{% set uploadRequirements = "<ul class='‘govuk-list govuk-list--bullet’'><div class='govuk-body-s'>" + fileRequirements + "</div></ul><p class='govuk-body-s'>"+ guideText + "</p>" %}

{{ govukDetails({
  summaryText: fileUploadRequirementsLabel,
  text: uploadRequirements | safe
}) }}

         {% if uploadedDocuments.length > 0 %}
    <ul class="govuk-list">
  {% for document in uploadedDocuments %}
      <li class="uploadedFile govuk-!-padding-top-2 govuk-!-padding-bottom-3 govuk-section-break govuk-section-break--visible">
        {{ document.fileName }}
        {% set documentId = document.documentId %}
        <a href="{{postURL}}?removeId={{documentId}}" class="govuk-link--no-visited-state float-right ">{{ delete }}</a>
      </li>
    {%endfor%}
</ul>
{%endif%}

<p class="govuk-body govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-3{% if uploadedDocuments|length %} hidden{% endif %}" id="noFilesUploaded">{{ noFilesUploaded }}</p>

    <p class="govuk-body">
    {{ fileFormats }}<br>
    {{ fileSize }}
  </p>

 <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">
  <div class=" {% if (fileErrors.length > 0) and (textAreaErrorMsg === "")  %}govuk-form-group--error {%endif%}">
 {%if fileErrors.length > 0  %}
  <p id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden"></span> {{errorMessage}}
    </p>
  {%endif%}
      {{ govukFileUpload({
  id: "file-upload-1",
  name: "documents",
  classes: "govuk-!-margin-bottom-3",
  label: {
      text: uploadAFile
    }
}) }}
{% set errorForFileDescription = ""%}
{% for error in fileErrors %}
{% if error.propertyName !== 'fileDescriptionRequired' %}
{% else %}
{% set errorForFileDescription = "govuk-input--error"%}
{%endif%}
{% endfor %}
<label class="govuk-label govuk-label-s" for="eventName">{{documentListLabel}}</label>
<input class="govuk-input {{errorForFileDescription}}" id="eventName" name="eventName" type="text" aria-describedby="" autocomplete="eventName">
</div>
{% for error in fileErrors %}
{% if error.propertyName === 'fileDescriptionRequired' %}
{%endif%}
{% endfor %}
<div class="govuk-!-margin-top-3">
  <p class="govuk-body">{{uploadFileHint}}</p>
</div>
  {{ govukButton({
          text: uploadButton,
          type: "upload document",
          classes: "govuk-button"
        }) }}

<br>
{{ govukButton({
  text: onlyContinue,
  name: 'continue'
}) }}

</form>

{% endblock %}


