{% extends "common/template.njk" %}

{% block backLink %}{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-9">{{title}}</h1>
    <p class="govuk-body-l">{{paragraph1}}</p>
    <p class="govuk-body-l">{{paragraph2}}</p>
    <p class="govuk-body-l govuk-!-margin-bottom-9">{{paragraph3}}</p>

    {% block form %}
        {% include "common/form/form.njk"%}
    {% endblock %}
{% endblock %}

{% block page_contact_us %}
{% endblock %}